# 1. What is Python ?

`Python is a high-level, interpreted, general-purpose programming language. Being a general-purpose language, it can be used to build almost any type of application with the right tools/libraries. Additionally, python supports objects, modules, threads, exception-handling, and automatic memory management which help in modelling real-world problems and building applications to solve these problems.`

**Benefits of using Python:**

    1. Python is general purpose High Level Programming language or Scripting language
    3. Python is interpreted programming language
    3. Object oriented Programming language
    4. Easy to Understand
    5. Open Source
    6. Portability
    7. Huge Libraries

# Examples:
    1. Google:
        Better search result are provided based on ranking of the websites and much more
    2. DropBox:
        Server and Client application 
    3. Netflix:
        Machine Learning is used to cluster users based on the interest on shows or Series
    4. NCS:
        Cyber security analysis and Encryption and Decryption
    5. Bittorent:
        Transfer file 
    6. NASA:
        Scientific Calculation
    7. ISRO:
        Scientific Calculation

# Python Programming Used For:

    1. Web Developement (Server Side)
    2. Software Developement
    3. mathematics
    4. System Scripting
    5. Database Connect
    6. handle Big Data and Perform complex operations
    7. rapid Prototyping, production

# Why Used:
    1. Different Platforms [Windows, Linux, Mac, Raspberry etc]
    2. simple syntax use high level language like english.
    3. code develop with fewer line
    4. proceduaral, object oriented programming

In [62]:
# First Python program      '#' is used for represent the comments
print("Welcome to Python Programming") # This is  also comment

Welcome to Python Programming

In [63]:
""" This is multiline comments 
using the triple qoute """
print("Welcome to Python Programming")

Welcome to Python Programming

In [43]:
# This is comment
# This is comment
print("Welcome to Python")

Welcome to Python

### 1. Variable:
    1. Variable contains something
    2. A Variable can have short name or Descriptive Name [age, height, carname, etc.]
    Exmple:
    x = 'Abhijeet' [string]
    y = 10 [integer]
    z = 84.20 [float]
    
Rules For Python Variable:
    1. Always start with later or underscore character
    2. Variable contain alpha numeric character and underscore (A-Za-z, 0-9, _)
    3. Variable name always case sensitive (age, AGE, Age, etc.)

In [44]:
x = 10
y = 20

z = x + y

In [45]:
print(z)

30

In [46]:
x = "Welcome to Python"

In [47]:
print(x)

Welcome to Python

In [48]:
x = 10.12 
y = 45.45

z = x + y
print(z)

55.57

In [49]:
_x = 10
_y = 20

_z = _x + _y

print(_z)

30

In [50]:
x1 = 20
y2 = 30

z3 = x1 + y2
print(z3)

50

In [51]:
x1_x = 20
y2_y = 30

z3_z = x1_x + y2_y
print(z3_z)

50

In [52]:
x1_x = 20
y2_y = 30

z3_z = x1_x + y2_y
print("Addition of Two No is: ",z3_z)

Addition of Two No is:  50

In [53]:
x = 20
print(type(x))

<class 'int'>

In [54]:
x = 45.26
print(type(x))

<class 'float'>

In [55]:
x = "Shyam Ambilkar"
print(type(x))

<class 'str'>

In [56]:
x = True
print(type(x))

<class 'bool'>

### There are two Types of Variable:
    1. Local Variable
    2. Global Variable

#### 1.Global Variable:

In [57]:
x = "Awesome" # Global Variable

def myfunct():
    print("Python is " + x)
myfunct()

Python is Awesome

#### 2. Local Variable:

In [58]:
x = "Awesome" # Global Variable

def myfunc():
    x = "Fantastic" #Local Variable
    print("Python is " + x)
myfunc()
print("Python is " + x)

Python is Fantastic
Python is Awesome

In [59]:
# age, AGE, Age

age = 45
AGE = 80
Age = 60

In [60]:
print(age)
print(Age)
print(AGE)

45
60
80